$app-font: Roboto, "Helvetica Neue", sans-serif;
$body-background: #f3f3f3;
$header-text-color: #333;
$app-main-blue: #26a9e0;
$white: #fff;

$left: 'left';
$top: 'top';
$right: 'right';
$bottom: 'bottom';
$center: 'center';
