@import "src/assets/scss/vars";
@import "src/assets/scss/mixins";

:host {
  background: $white;

  .albums {
    padding: $baseSize * 4;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__block-header {
      font: {
        size: 20px;
        weight: 500;
      }
      color: $header-text-color;
    }

    .mat-checkbox {
      font-size: 13px;
      width: 100%;
      overflow: hidden;

      .mat-checkbox-label {
        text-overflow: ellipsis;
      }
    }

  }
}

