section#albums {
    padding: 16px 24px;
    background: #fff;
    height: 40vh;
    overflow-y: scroll;
}

section#albums .mat-checkbox-layout {
    white-space: normal;
}

section#albums span.mat-checkbox-label {
    font-size: 13px;
    white-space: nowrap;
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
}

section#albums button {
    position: absolute;
    top: 37vh;
    right: 50px;
}

section#albums button.mat-fab.mat-accent {
    background-color: #26a9e0;
}
