@import "src/assets/scss/vars";
@import "src/assets/scss/mixins";

#albums {
  padding: $baseSize * 4 $baseSize * 6;
  background: $white;
  height: 40vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  .mat-checkbox {
    font-size: 13px;

    .mat-checkbox-label {
      text-overflow: ellipsis;
      max-width: 130px;
      overflow: hidden;
    }
  }

}
