<section id="albums">
  <div class="row">
    <div class="col-6">
      <span class="block-header">Albums</span>
    </div>
    <div class="col-6 text-right">
      <mat-checkbox (change)="selectAll()">Select all</mat-checkbox>
    </div>
  </div>
  <div *ngIf="!albums.length" class="row h-100 align-content-center">
    <div class="col-12 text-center">
      <p>Select a user first</p>
    </div>
  </div>
  <div *ngIf="albums.length" class="row mt-4">
    <div class="col-3" *ngFor="let album of albums; trackBy: trackByFn">
      <mat-checkbox [(ngModel)]="album.selected" (change)="getAlbumPhotos(album)">{{album.title}}</mat-checkbox>
    </div>
  </div>
</section>
