@import "src/assets/scss/vars";
@import "src/assets/scss/mixins";

:host {
  background: $white;
  max-height: 100vh;
  overflow-y: scroll;

  .photos {
    padding: $baseSize * 4;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__block-header {
      font: {
        size: 20px;
        weight: 500;
      }
      color: $header-text-color;
    }
  }
}
