@import "src/assets/scss/vars";
@import "src/assets/scss/mixins";

:host {

  #photos {
    padding: $baseSize * 4 $baseSize * 6;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
