@import "src/assets/scss/vars";
@import "/src/assets/scss/mixins";

:host {
  aside {
    background: $white;
    height: 95vh;
    overflow-y: scroll;

    .header {
      padding: $baseSize * 4 $baseSize * 6;
      background: #f9f9f9;
      position: sticky;
      top: 0;
      left: 0;
      z-index: 2;

      &__block-header {
        font-size: 20px;
        font-weight: 500;
        color: #333;
      }
    }

    .mat-icon {
      color: #757575;
    }

    div {
      .mat-list {
        padding-top: 0;
      }

      .hoverable {
        &:hover {
          .mat-line {
            color: $white !important;
          }
        }
      }
    }

    .searchWrapper {
      @include shadow(0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12));
      @include borderRadius(3px);
      height: $baseSize * 12;
      padding: 0 $baseSize * 6;

      input {
        background: none;
        border: none;
        outline: none;
        width: calc(100% - #{$baseSize} * 12);
        padding-left: $baseSize * 6;
      }
    }
  }
}
