aside {
    background: #fff;
    height: 95vh;
    overflow-y: scroll;
}

aside header {
    padding: 16px 24px;
}

aside .mat-list-base .mat-list-item {
    padding: 0 24px;
}

aside header {
    background: #f9f9f9;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}

aside .mat-icon {
    color: #757575;
}

aside div .mat-list-base .mat-list-item .mat-list-item-content {
    padding: 0;
}

aside div .mat-list-base {
    padding-top: 0;
}

aside .mat-list-base .mat-list-item .mat-line {
    font-size: 13px;
}

aside div .mat-list-base .mat-list-item h4.mat-line {
    color: rgba(0,0,0,.87);
}

aside div .mat-list-base .mat-list-item p.mat-line {
    color: rgba(0, 0, 0, .54);
}

aside div .hoverable:hover .mat-line {
    color: #fff !important;
}

aside .searchWrapper {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    height: 48px;
    padding: 0 24px;
}

aside .searchWrapper input {
    background: none;
    border: none;
    outline: none;
    width: calc(100% - 48px);
    padding-left:24px;
}
