<aside class="shadow-element">
    <header>
        <div class="row">
            <div class="col-4">
                <span class="block-header">Users</span>
            </div>
            <div class="col-8 text-right">
                <mat-icon class="mr-4">filter_list</mat-icon>
                <mat-icon>search</mat-icon>
            </div>
        </div>
    </header>
    <div>
        <mat-list>
            <ng-container *ngFor="let user of users">
                <mat-list-item class="hoverable" (click)="showUsersAlbums()">
                    <mat-icon mat-list-icon>account_circle</mat-icon>
                    <h4 class="mb-1" mat-line>{{user.name}}</h4>
                    <p class="mb-1" mat-line>{{user.username}}</p>
                    <p mat-line>{{user.email}}</p>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-list>
    </div>
</aside>
