/* You can add global styles to this file, and also import other style files */

@import "~bootstrap-4-grid/css/grid.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html {
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #f3f3f3;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.block-header {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.shadow-element {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

.hoverable:hover {
    background: #26a9e0;
    color: #fff;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.image-responsive {
    max-width: 100%;
    height: auto;
}
